<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411915234426-q3eeqkdhv1km98u7p8g8f0a0gurqd6ir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411915234426-q3eeqkdhv1km98u7p8g8f0a0gurqd6ir</string>
	<key>API_KEY</key>
	<string>AIzaSyDul0Ffzd1GBv41F1--XOHJy8-_SA8TE_w</string>
	<key>GCM_SENDER_ID</key>
	<string>411915234426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.www.zazaero</string>
	<key>PROJECT_ID</key>
	<string>pc-api-5961167133705272112-485</string>
	<key>STORAGE_BUCKET</key>
	<string>pc-api-5961167133705272112-485.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411915234426:ios:29aef3dc37a1ad75a61fc3</string>
</dict>
</plist>